body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:748px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:748px;
}
#u1 {
  position:absolute;
  left:2px;
  top:366px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:-10px;
  width:1280px;
  height:810px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:810px;
}
#u3 {
  position:absolute;
  left:2px;
  top:397px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:890px;
  top:15px;
  width:120px;
  height:45px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:20px;
  top:100px;
  width:980px;
  height:550px;
}
#u5_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:990px;
  height:560px;
}
#u6 {
  position:absolute;
  left:2px;
  top:267px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:930px;
  top:115px;
  width:50px;
  height:45px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:320px;
  top:28px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:448px;
  top:580px;
  width:128px;
  height:50px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:40px;
  top:115px;
  width:387px;
  height:42px;
  font-size:36px;
  color:#448F2F;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:42px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:40px;
  top:176px;
  width:670px;
  height:287px;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:287px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:462px;
  top:29px;
  width:180px;
  height:34px;
  font-family:'Arial Vet', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:34px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:40px;
  top:162px;
  width:940px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:923px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:940px;
  height:1px;
}
#u18 {
  position:absolute;
  left:756px;
  top:188px;
  width:470px;
  height:268px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:268px;
}
#u19 {
  position:absolute;
  left:2px;
  top:126px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:27px;
  top:24px;
  width:153px;
  height:37px;
  font-size:20px;
  color:#000099;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:37px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  width:1280px;
  height:800px;
}
#u0_img.a {
  width:1280px;
  height:800px;
}
#u1.a {
  top:392px;
  width:1276px;
}
#u2.a {
}
#u4.a {
  position:absolute;
  left:1112px;
  top:16px;
  width:150px;
  height:48px;
}
#u4_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:48px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5.a {
  left:25px;
  top:107px;
  width:1225px;
  height:588px;
}
#u5_img.a {
  width:1235px;
  height:598px;
}
#u6.a {
  top:286px;
  width:1221px;
}
#u7.a {
  position:absolute;
  left:1162px;
  top:123px;
  width:62px;
  height:48px;
}
#u7_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:48px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8.a {
  width:162px;
  height:43px;
}
#u8_img.a {
  width:162px;
  height:43px;
}
#u9.a {
  width:162px;
}
#u10.a {
  position:absolute;
  left:560px;
  top:620px;
  width:160px;
  height:53px;
}
#u10_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:53px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11.a {
  left:50px;
  top:123px;
}
#u11_img.a {
}
#u12.a {
}
#u13.a {
  left:50px;
  top:188px;
}
#u13_img.a {
}
#u14.a {
}
#u15.a {
  width:225px;
  height:36px;
}
#u15_img.a {
  width:225px;
  height:36px;
}
#u16.a {
  width:225px;
}
#u17.a {
  left:50px;
  top:173px;
  width:1175px;
}
#u17_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end.a {
  position:absolute;
  left:1158px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:1175px;
  height:1px;
}
#u18.a {
}
#u18_img.a {
}
#u19.a {
}
#u20.a {
  width:284px;
  height:24px;
}
#u20_img.a {
  width:284px;
  height:24px;
}
#u21.a {
}
