body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1278px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-2px;
  top:-16px;
  width:1280px;
  height:799px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:799px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:1px;
  width:1280px;
  height:799px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:799px;
}
#u3 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:25px;
  top:108px;
  width:1225px;
  height:587px;
}
#u4_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1235px;
  height:597px;
}
#u5 {
  position:absolute;
  left:2px;
  top:286px;
  width:1221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1163px;
  top:124px;
  width:62px;
  height:48px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:48px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:320px;
  top:29px;
  width:187px;
  height:43px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:43px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:50px;
  top:124px;
  width:78px;
  height:42px;
  font-size:36px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:42px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:50px;
  top:189px;
  width:1175px;
  height:485px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  height:485px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:462px;
  top:30px;
  width:225px;
  height:36px;
  font-family:'Arial Vet', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:36px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:50px;
  top:174px;
  width:1175px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:1158px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1175px;
  height:1px;
}
#u16 {
  position:absolute;
  left:27px;
  top:24px;
  width:284px;
  height:24px;
  font-family:'Arial Vet', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000099;
  text-align:left;
  line-height:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1278px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
  position:absolute;
  left:1163px;
  top:124px;
  width:62px;
  height:48px;
}
#u6_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:48px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7.a {
}
#u9.a {
}
#u11.a {
}
#u13.a {
}
#u15.a {
}
#u15_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end.a {
  position:absolute;
  left:1158px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:1175px;
  height:1px;
}
#u16.a {
}
