@charset "utf-8";
/* CSS Document */

canvas {
    border:1px solid black;
	border-bottom:none;
}

body {
	background: #e1e1e1;
	/*width: 1024px;*/
	margin: 0px auto;
	color: #50434e;
}

h1 {
	font-family: 'titleFont', Arial, sans-serif;
	font-size:34pt;
	margin-top:40px;
	margin-bottom:20px;
}

h2 {
	font-family: 'headerFont', Arial, sans-serif;
	font-size:18pt;
	color:Black;
}

H3 {
	font-family: 'headerSmallFont', Arial, sans-serif;
	font-style: italic;
	font-size:16px;	
	margin-bottom:4px;
}

h4 {
	font-family:'headerFont';
	background:white;
	margin:0px;
	padding-left:100px;
	padding-top:21px;
	padding-right:724px;
	width:200px;
	margin-top:-4px;
}

p {
	font-family: Arial, sans-serif;
	font-size:11pt;
	line-height: 140%;
	text-align:justify;
	margin-top:4px;
}

span.highlight {
	background:#c0fcfb;	
	color:Black;
}

span.serif {
	display:block;
	font-family:georgia;
	font-size:13pt;
	line-height: 140%;
	text-align: left !important;
}

#over_mij {
	background:White;
}

#over_mij p{
	width: 500px;
	margin-left: 50px;
	padding-right: 50px;
	float:left;
}

#opleidingen {
	background:White;
	height:820px;
}

#opleidingen h1 {
	margin-top:0px;
	padding-top:40px;
	background:White;	
}

#opleidingen h2 {
	margin-bottom:6px;
}

#opleidingen h3 {
	margin-top:6px;
}

.imageBox h2 {
	font-size:16pt;
}

#projecten p {
padding-bottom:50px;	
}

#projecten img {
	margin-right:-4px;
}

#projecten {
	background:White;	
}


#projecten h1{
	margin:0; 
	padding-top:40px;
	padding-bottom:20px;
	margin-left:100px;	
}

.imageBox { 
  	position: relative; 
    float:left;
	margin-top:-4px;
}

.imageBox h2 { 
   position: absolute; 
   top: 4px; 
   left: 10px; 
   width: 100%; 
   background:#50434e ;
   color:White;
   margin:0px;
   top:0px;
   right:0px;
   left:0px;
   padding:10px;
   opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.imageBox p {
	background:White none repeat scroll 0 0;
	border-top-width: 0;
	margin:-4px 0 0;
}

#page5 {
	background:White;	
}


#page5 h1{
	margin-top:0px;
	padding-top:40px;
	background:White;	
	margin-left:100px;
}

@font-face{ 
	font-family:'textFont';
	src: url('fonts/MyriadWebPro.ttf') format('truetype'),
	url('fonts/MyriadWebPro.eot?') format('embedded-opentype'),
    url("fonts/MyriadWebPro.otf") format("opentype"),
    url('fonts/MyriadWebPro.svg#svgMyriadWebPro') format('svg');
}
	
@font-face{ 
	font-family: 'titleFont';
	src: url('fonts/ITCEDSCR.ttf') format('truetype'),
	url('fonts/ITCEDSCR.eot?') format('embedded-opentype'),
    url("fonts/EdwardianScriptITC.otf") format("opentype"),
    url('fonts/EdwardianScriptITC.svg#svgEdwardianScriptITC') format('svg');
}

@font-face{
	font-family:'headerFont';
	src: url('fonts/SourceSansPro-ExtraLight.ttf') format('truetype'),
	url('fonts/SourceSansPro-ExtraLight.eot?') format('embedded-opentype'),
    url("fonts/SourceSansPro-ExtraLight.otf") format("opentype"),
    url('fonts/SourceSansPro-ExtraLight.svg#svgSourceSansPro-ExtraLight') format('svg');
}

@font-face{
	font-family:'headerSmallFont';
	src: url('fonts/SourceSansPro-ExtraLightItalic.ttf') format('truetype'),
	url('fonts/SourceSansPro-ExtraLightItalic.eot?') format('embedded-opentype'),
       url("fonts/SourceSansPro-ExtraLightIt.otf") format("opentype"),
       url('fonts/SourceSansPro-ExtraLightIt.svg#svgSourceSansPro-ExtraLightIt') format('svg');
}

.sticky{
    position: fixed;
    /*top: 0;*/
    z-index: 100;	
}

#logo {
	position: fixed;
    top: 0;
    z-index: 101;
}

nav {
	background:Black none repeat scroll 0% 0%;
	z-index:105;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: Black;
	margin: 0 auto;
	padding:0;
	/*width:43%;*/
	z-index:105;
}

nav li {
    float: left;
	margin:0;
	padding:0;
	z-index:105;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: 'textFont';
	z-index:105;
}

/* Change the link color to #111 (black) on hover */
nav li a:visited {
	background-color: #403640;
}

nav li a:hover {
    background-color:#1a161a;
}

a {
   outline: 0;
}

a.nav-active {
   background-color: #1a7bae;
}

.expandedcontent ul {
	background:White;
	padding-bottom:50px;
	margin-top:0;
	margin-bottom:0;
	padding-left:100px;
	padding-right:100px;
	position:relative;
	width:824px;
}

.expandedcontent li {
	font-family: 'textFont';
	list-style-type:none;
	border-top-style:solid;
	border-width:1px; 
	border-color:#adadae;
	padding-bottom:10px;
	padding-top:10px;
}

.expandedcontent li:before {
    content: "■";
	padding-right:8px;
    color: #1a7bae; /* or whatever color you prefer */
}
.expandedcontent li#lastitem{
	border-bottom-style:solid;
	border-bottom-color:#adadae;
	border-bottom-width:1px;
}
.expandedcontent img {
	background:White;
	margin-bottom:-1px;
	margin-right:0px;
	margin-top:-4px;	
}

.expandedcontent h3{
	font-family: 'headerFont', Arial, sans-serif;
	font-style:normal;
	font-size:18pt;
	color:Black;
	margin-bottom:0;
	margin-left:0;
	margin-top:-4px;
	padding-left:100px;
	padding-right:0;
	padding-top:10px;
	padding-bottom:16px;
	width:924px;	
	background:White;
}

.expandedcontent p {
	padding-top:20px;	
	margin-top:0;
}

.taal_item p{
	margin-left:0px;	
	margin-right:50px;	
	margin-bottom:0px;
	margin-top:0px;
}

.taal_item img {
	float:left;
	margin-left:50px;
	margin-right:50px;
}

.taal_item{	
	padding-top:10px;
	border-bottom-style: solid;
	border-bottom-color:#CCC;
	border-bottom-width:1px;
}

.taal_item #first_item{
	padding-top:15px;
	border-top-style: solid;
	border-top-color:#CCC;
	border-top-width:1px;
}

#page5 h2{
	margin-top:30px;	
}

.content a:link {
    color: #23a1e3;
}

/* visited link */
.content a:visited {
    color: #23a1e3;
}

/* mouse over link */
.content a:hover {
    color: #e323ca;
}

/* selected link */
.content a:active {
    color: #e323ca;
}

#back-top {
	width:1024px;
	height:30px;
	border:none; 
	background:#1a161a; 
	margin-top:0px; 
	margin-bottom:0px; 
	padding-top:4px; 
	text-align: center;
}

#back-top a {
	font-size:110%; 
	text-decoration:none;
}

#back-top a:link {
    color: #23a1e3;
}

#back-top a:visited {
    color: #23a1e3;
}

#back-top a:hover {
    color: #e323ca;
}


@media only screen and (max-width: 1023px) {
	.x1024{
		display:none;
	}
	
	.x700{
		display:block;
		background:white;
	}
	
	.x480{
		display:none;
	}
	
	body {
		width: 700px;
	}

	nav ul {
		width:63%;
	}
	
	#over_mij p {
		margin-left:50px;
		width:600px;	
	}
	
	img[alt="portrait"]{
		margin-left:137px;
		margin-bottom:28px;
	}
	
	#yellowborder {
		width:700px;	
	}
	 #opleidingen {
		height:700px; 
	 }
	
	#opleidingen h2, #opleidingen h3 {
		 margin-left:50px;
		 margin-right:50px;
	 }
	 
	#opleidingen h1 {
		 margin-left:100px;
	}
	
	 #opleidingen p {
		margin-left:50px;
		margin-right:50px; 
	 }
	 
	 #over_mij h1{
	width: 500px;
	margin-left: 100px;
	float:left;
	}
	
	.imageBox {
		width: 233px;
	}
	
	.thumbnail img {
		width: 233px;
		height: 233px;
	}
	
	.imageBox h2 {
	   width:213px;
	}
	
	.imageBox p {
		padding-left: 50px;
		padding-right: 50px;
		width: 600px;	
	}
	
	.imageBox h3 {
		padding-left: 50px;
		padding-right: 50px;
		width: 600px;	
	}
	
	.right {
	left:-466px;
	position:relative;
	}

	.middle {
	left:-233px;
	position:relative;
	}
	
	.imageBox img[alt*="arrow"] {
		padding-left:100px;
		padding-right:561px;
	}
	
	.imageBox img[alt*="arrow"].middle {
		padding-left:331px;
		padding-right:330px;
		left:-233px;
	}
	
	.imageBox  img[alt*="arrow"].right {
		padding-left:566px;
		padding-right:95px;
		left:-466px;
	}
		
	video {
		width:600px; 
		height:337px;	
	}
	
	.taal_item{
		height:100px;
		padding-bottom:10px;
		border-top-style: solid;
		border-top-color:#CCC;
		border-top-width:1px;
		margin-top:-1px;
	}
	
	.taal_item #first_item{	
		padding-top:0px;
		border-top:none;
	}
	
	.taal_item p{
		padding-top:6px;
	}
	
	#page5 p {
		margin-left:25px;
		margin-right:25px;	
	}
	
	#competenties p{
		margin-left:50px;
		margin-right:50px;
	}
	
	.taal_item img{
		margin-top:-6px;	
		margin-left:25px;
		margin-right:25px;
	}
	
	.sticky {
		width:700px;
	}
	
	#page5 h2{
		margin-left: 50px;
		margin-right: 50px;
	}
	
	.taal_item{
		margin-right:50px;
		margin-left:50px;
	}
	
	.taal_item p {
		height:100px;
		display: table-cell;
    	vertical-align: middle;
		padding-top:0px;
	}
	
	.new_row .imageBox{
		clear:both;
	}
	
	img[alt*="nao"] {
		float:right;
		margin-left:50px;
	}
	
	h4{
		padding-left:50px;
		padding-right:450px;	
	}
}

@media only screen and (max-width: 700px) {
	.x1024{
		display:none;
	}
	
	.x700{
		display:none;
	}
	
	.x480{
		display:block;
	}
	
	body {
		width: 480px;
	}

	nav ul {
		width:91%;
	}
	
	img[alt="portrait"]{
		margin-left:28px;
		margin-bottom:28px;
	}
	
	#over_mij p {
		margin-left:28px;
		width:420px;	
	}
	
	#yellowborder {
		width:480px;	
	}
	
	 #opleidingen {
		height:850px; 
	 }
	
	 #opleidingen h2, #opleidingen h3 {
		 margin-left:0px;
		 margin-right:0px;
	 }
	 
	 #opleidingen h1 {
		 margin-left:83px;
	 }
	 
	 #opleidingen p {
		 margin-left:0px;
		 margin-right:28px;
	 }
	 
 	#opleidingen_text {
		 margin-left:28px;
		 margin-left:28px;
		 top:-720px;
		 background:white;
	 }
	 
	 #over_mij h1{
	width: 480px;
	margin-left: 83px;
	}
	
	#projecten h1{
		margin-left: 83px;
	}
	
	#page5 h1{
		margin-left: 78px;
	}
	
	.sticky {
		width:480px;
	}
	
	#page5 h2{
		margin-left: 28px;
		margin-right: 28px;
	}
	
	.taal_item {
		margin-right:28px;
		margin-left:28px;
		height:120px;
	}
	
	.taal_item img {
		margin-left:0px;
		margin-top:4px;	
	}
	
	.taal_item p {
		height:120px;
		display: table-cell;
    	vertical-align: middle;
		padding-top:0px;
	}
	
	#page5 p {
		margin-right:0px;
	}
	
	#competenties p {
		margin-right:28px;
		margin-left:28px;
	}
	
	.imageBox{
		width:240px;
	}
	
	/**.imageBox img{
		width:240px;
		height:240px;	
	}**/
	
	.thumbnail img {
		width:240px;
		height:240px;	
	}
	
	.imageBox h2{
		width:220px;	
	}
	
	.new_row .imageBox{
		clear:none;
	}
	.mobile_right p, .mobile_right h3, .mobile_right h4{
		width:424px;
		padding-left:28px;
		padding-right:28px;
		margin-left:-240px;	
		left:0px;
	}
	
	.mobile_left p, .mobile_left h3, .mobile_left h4{
		width:424px;
		padding-left:28px;
		padding-right:28px;	
		left:0px;
	}
	
	.mobile_right img[alt*="arrow"].middle, .mobile_right img[alt*="arrow"], .mobile_right img[alt*="arrow"].right{
		width:30px; 
		height:30px; 
		padding-right:105px; 
		padding-left:345px;
		margin-left:-240px;	
		left:0px;
	}
	
	.mobile_left img[alt*="arrow"], .mobile_left img[alt*="arrow"].middle, .mobile_left img[alt*="arrow"].right{
		width:30px; 
		height:30px; 
		padding-right:345px; 
		padding-left:105px;
		margin-left:0px;	
		left:0px;
	}
	
	/**.mobile_right img[alt*="arrow"].middle{
		width:30px; 
		height:30px; 
		padding-right:105px; 
		padding-left:345px;
		margin-left:0px;	
		left:0px;
	}
	
	.mobile_left img[alt*="arrow"].middle, .mobile_left img[alt*="arrow"].right{
		width:30px; 
		height:30px; 
		padding-right:105px; 
		padding-left:345px;
		margin-left:0px;
		left:0px;
	}**/
	
	.mobile_new_row {
		clear:both;
	}
	
	h4 {
		padding-left:50px;
	}
	
	img[alt*="nao"] {
		float:none;
		margin-left:62px;
	}
	
	video {
		width:424px; 
		height:238px;	
	}
}

@media only screen and (min-width: 1024px) {
	 #opleidingen {
		height:820px; 
	 }
	 #opleidingen h2, #opleidingen h3 {
		 margin-left:50px;
		 margin-right:50px;
	 }
	 
	 #opleidingen h1 {
		 margin-left:100px;
	 }
	
	.x1024{
		display:block;
	}
	
	.x700{
		display:none;
	}
	
	.x480{
		display:none;
	}
	
	body {
		width: 1024px;
	}

	nav ul {
		width:43%;
	}

	#yellowborder {
		width:1024px;	
	}
	 
	 #opleidingen_text {
		 position:relative; 
		 left:340px;
		 top:-720px;
		 width:686px;
	 }
	 
	 #opleidingen p {
		margin-left:50px;
		margin-right:50px; 
	 }
	 
	 #over_mij h1{
	width: 500px;
	margin-left: 100px;
	float:left;
}

	.imageBox {
		width: 341px;
	}
	
	.thumbnail img {
		width: 342px;
		height: 342px;
	}
	
	.imageBox h2 {
	   width:322px;
	}
	
	.imageBox p {
		padding-left: 100px;
		padding-right: 100px;
		width: 824px;	
	}
	
	.imageBox h3 {
		padding-left: 100px;
		padding-right: 100px;
		width: 824px;	
	}
	
	.right {
	left:-682px;
	position:relative;
	}

	.middle {
	left:-341px;
	position:relative;
	}
	
	.imageBox img[alt*="arrow"] {
		padding-left:150px;
		padding-right:835px;
	}
	
	.imageBox img[alt*="arrow"].middle {
		padding-left:500px;
		padding-right:485px;
		left:-341px;
	}
	
	.imageBox img[alt*="arrow"].right {
		padding-left:840px;
		padding-right:145px;
		left:-682px;
	}
	
	video {
		width:824px; 
		height:463px;	
	}
	
	.taal_item{
		padding-bottom:50px;
	}
	
	.taal_item p{
		padding-top:34px;	
	}
	
	#page5 p {
		margin-left:50px;
		margin-right:50px;	
	}
	
	.sticky {
		width:1024px;
	}
	
	#page5 h2{
		margin-left: 50px;
		margin-right: 50px;
	}
	
	.taal_item{
		margin-right:50px;
		margin-left:50px;
	}
	
	.new_row .imageBox{
		clear:both;
	}
	
	img[alt*="nao"] {
		float:right;
		margin-left:50px;
	}
}