body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:330px;
  top:268px;
  width:616px;
  height:263px;
}
#u2_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:626px;
  height:273px;
}
#u3 {
  position:absolute;
  left:2px;
  top:124px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:351px;
  top:282px;
  width:102px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:352px;
  top:304px;
  width:572px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:555px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:572px;
  height:1px;
}
#u7 {
  position:absolute;
  left:515px;
  top:348px;
  width:250px;
  height:27px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:27px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:515px;
  top:406px;
  width:250px;
  height:27px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:27px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:578px;
  top:460px;
  width:125px;
  height:37px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:37px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:515px;
  top:325px;
  width:188px;
  height:22px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:515px;
  top:385px;
  width:188px;
  height:21px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:351px;
  top:501px;
  width:574px;
  height:27px;
  color:#FF0000;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:27px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u6_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end.a {
  position:absolute;
  left:555px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:572px;
  height:1px;
}
#u7.a {
  position:absolute;
  left:515px;
  top:348px;
  width:250px;
  height:27px;
}
#u7_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:27px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8.a {
  position:absolute;
  left:515px;
  top:406px;
  width:250px;
  height:27px;
}
#u8_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:27px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9.a {
  position:absolute;
  left:578px;
  top:460px;
  width:125px;
  height:37px;
}
#u9_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:37px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
