body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1272px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:1287px;
  height:810px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1287px;
  height:810px;
}
#u2 {
  position:absolute;
  left:2px;
  top:397px;
  width:1283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:1287px;
  height:810px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1287px;
  height:810px;
}
#u4 {
  position:absolute;
  left:2px;
  top:397px;
  width:1283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:466px;
  top:268px;
  width:366px;
  height:253px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  line-height:normal;
}
#u5_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:376px;
  height:263px;
}
#u6 {
  position:absolute;
  left:2px;
  top:118px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:568px;
  top:740px;
  width:161px;
  height:49px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:49px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:320px;
  top:29px;
  width:201px;
  height:43px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:43px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:462px;
  top:30px;
  width:297px;
  height:37px;
  font-family:'Arial Vet', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:37px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:586px;
  top:459px;
  width:126px;
  height:38px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:38px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:586px;
  top:459px;
  width:126px;
  height:38px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:38px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:618px;
  top:447px;
  width:63px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:630px;
  top:462px;
  width:40px;
  height:23px;
  font-size:16px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  visibility:hidden;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:477px;
  top:295px;
  width:343px;
  height:105px;
  font-size:72px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:105px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:27px;
  top:24px;
  width:284px;
  height:24px;
  font-family:'Arial Vet', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000099;
  text-align:left;
  line-height:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1272px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u0_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
}
#u7.a {
  position:absolute;
  left:568px;
  top:740px;
  width:161px;
  height:49px;
}
#u7_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:49px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8.a {
}
#u10.a {
}
#u12.a {
  position:absolute;
  left:586px;
  top:459px;
  width:126px;
  height:38px;
}
#u12_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:38px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13.a {
  position:absolute;
  left:586px;
  top:459px;
  width:126px;
  height:38px;
}
#u13_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:38px;
  font-family:'Arial Standaard', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14.a {
}
#u14_img.a {
}
#u15.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
